# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_URL="url": https://api.eu-gb.discovery.watson.cloud.ibm.com/insta
DISCOVERY_ENVIRONMENT_ID=24210792-b59d-4f37-a984-2f53ac3a77ce
24210792-b59d-4f37-a984-2f53ac3a77ce
DISCOVERY_COLLECTION_ID=04ba95c9-f58a-4926-b049-2b7347617443
DISCOVERY_APIKEY=pDRtOLxsuClMQxcYUoi_7tg-ELTrmu-cCJ9Ui-trXvAS
